# Day-4 Of 
# <b>#100 Days of Machine Learning</b>
---

# ðŸ”¹List : 
## List is a data type where u can store multiple items under 1 name.
### More technically, lists act like dynamic arrays which means u can add more items on the fly.
### Why lists are require in python?
### if want to work on high data with same data type

### Array Vs Lists

- Fixed Vs Dynamic size In array we have to declare the size of an array In list no need to declare the size it has no limit (list is flexible)
-  List is Convenience -> Hetrogeneous Array is homogeneous
-   list is Slower as compare to array. Array do fast execution .
-   list take more time to execute

### Characterstics of a List

- ordered -> l1 = [1,2,3] != l2 = [3,2,1]
- Changeble / Mutable
- Hetrogeneous -> diff data type can be stored
- Can have duplicate elements
- Are dynamic -> Memory space can increase
- Can be nested -> [1,3,6,[4,9,0,2]]
- items can be accessed
- Can contain any kind of objects in python

### Creating List

In [1]:
# empty list
l = []
print(l)

# 1D list / hetrogeneous 
l2 = [1,2,3,[7,8,9]]
print(l2)

# 2D list 
l3 = [[1,2,3],[7,8,9]]
print(l3)

# 3D list 
l4 = [[[2,4,6],[3,6,9]],[[1,5,0],[4,8,2]]]
print(l4)

# Hetrogeneous list
l5 = [1,True,5.89,None,'uxma',5+6j]
print(l5)

# Type conversion
l6 = list('uxma')
print(l6)
l7 = list((1,2,3,4,5))
print(l7)

[]
[1, 2, 3, [7, 8, 9]]
[[1, 2, 3], [7, 8, 9]]
[[[2, 4, 6], [3, 6, 9]], [[1, 5, 0], [4, 8, 2]]]
[1, True, 5.89, None, 'uxma', (5+6j)]
['u', 'x', 'm', 'a']
[1, 2, 3, 4, 5]

### id()

In [2]:
# id() is used to display the address of the data 
# display pointers of the data
l = [1, 2, 3, 4, 5]
print(id(l))

1436546911808

## Accessing items from a list

#### indexing

In [3]:
#              ---1D list---
# Positive indexing -> goes left to right -> starts from 0
l = ['b','h','o','p','a','l']
print(l[2])
# Negatice indexing -> goes right to left -> start from -1
l2 = ['b','e','a','u','t','i','f','u','l']
print(l2[-2])
#              ---2D list---
# Positive indexing
li = [1,2,3,[9,8,6,5]]
print(li[3][1])
# Negative indexing
lis = [2,4,6,[1,3,5,7]]
print(lis[-1][-2])
#              ---3D list---
liss = [[[2,4,6],[3,6,9]],[[1,5,0],[4,8,2]]]
print(liss[1][1][0])

o
u
8
5
4

### slicing

In [4]:
# slicing gives sub list/string
# positive slicing
l = ['b','h','o','p','a','l']
print(l[0:4])   # last range is excluded
# negative slicing
l2 = ['b','e','a','u','t','i','f','u','l']
print(l2[-3:])
print(l2[::2])
print(l2[::-1])

['b', 'h', 'o', 'p']
['f', 'u', 'l']
['b', 'a', 't', 'f', 'l']
['l', 'u', 'f', 'i', 't', 'u', 'a', 'e', 'b']

## Adding items to a list

### .append()

In [5]:
# .append() is used to insert the element into the list but in the last
name = ['uxma','abdul','axeema','wajid']
name.append('atif')
print(name)
name.append(['ali','danish','sahil'])
print(name)

['uxma', 'abdul', 'axeema', 'wajid', 'atif']
['uxma', 'abdul', 'axeema', 'wajid', 'atif', ['ali', 'danish', 'sahil']]

### .extend()

In [6]:
# .extend() is used to insert the elements into the list but in the last
alpha = ['a','b','c','d']
alpha.extend(('e','f','g'))
print(alpha)
alpha.extend('hijk')
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

### .insert()

In [7]:
# .insert() is used to insert the element into the desired place
# .insert(index,element)
fruits = ['apple','cherry','dragoun_fruit']
fruits.insert(1,'banana')           
print(fruits)

['apple', 'banana', 'cherry', 'dragoun_fruit']

## Updating items in a list

### updating with indexing

In [8]:
vegies = ['lady_finger','better_gourd','potato','bringer']
vegies[1] = 'cabage'
print(vegies)
vegies.append('cucumber')
print(vegies)

['lady_finger', 'cabage', 'potato', 'bringer']
['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']

### updating with slicing

In [9]:
l = [1,2,3,4,5,6]
l[:] = [10,20,30,40,50,60]
print(l)

[10, 20, 30, 40, 50, 60]

## Deleting items from list

### .del()

In [10]:
# del() -> delete the existing list
l = [1,2,3,4,5,6]
print(l)
del(l[-2])     # deleting with indexing
print(l)
del(l[1:3])    # deleting with slicing
print(l)
del(l)         # but not delete form the memory location
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 6]
[1, 4, 6]

NameError: name 'l' is not defined

### .remove()

In [11]:
# .remove() is used to delet the element when the index is unknown
vegies = ['lady_finger','better_gourd','potato','bringer','cabage']
vegies.remove('better_gourd')
print(vegies)

['lady_finger', 'potato', 'bringer', 'cabage']

### .pop()

In [12]:
# .pop() is used to delete the item of particular index or can delete last element if index parameter is not given
veg = ['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
veg.pop(1)
print(veg)
veg.pop()       # default index is (-1)
print(veg)

['lady_finger', 'potato', 'bringer', 'cucumber']
['lady_finger', 'potato', 'bringer']

### .clear()

In [13]:
# .clear() is used to make the list empty
v = ['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
print(v)
v.clear()
print(v)

['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
[]

## Operations on Lists

### Arithmetic

In [14]:
# arithmetic -> ( + , * )
l = [1,2,3,4,5,6]
li = [10,20,30,40,50,60]
#  '+' operator concatinare / merge the list
print(l + li) 
#  '*' operator create multiple list then merge
print(li * 3)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [15]:
# 'in' checks the existence of the element into a list
v = ['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
print('potato' in v)
# 'not in' checks the not existence of the element into a list
print('potato' not in v)

True
False

## Loops in functions

In [16]:
# loops are iterable 
v = ['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
for i in v:
    print(f'lenght of {i} : {len(i)}')

print()
#   ---loops in 3D---
liss = [[[2,4,6],[3,6,9]],[[1,5,0],[4,8,2]]]
for i in liss:
    for j in i:
        print(j)

lenght of lady_finger : 11
lenght of cabage : 6
lenght of potato : 6
lenght of bringer : 7
lenght of cucumber : 8

[2, 4, 6]
[3, 6, 9]
[1, 5, 0]
[4, 8, 2]

## List functions

## Universal methods
### len()/min()/max()/sorted()

In [17]:
# len() is use to find the lenght of the list
v = ['lady_finger', 'cabage', 'potato', 'bringer', 'cucumber']
print(f'lenght of list : {len(v)}')
# max() is use to find the maximum of the list
print(f'Maximum element of list as per ASCII value : {max(v)}')
# min() is use to find the mininum of the list
print(f'Minimum element of list as per ASCII value : {min(v)}')
# sorted() is use to sort element of the list
# it create new list 
print(f'Sorted elements as per ASCII value : {sorted(v,reverse=True)}')

lenght of list : 5
Maximum element of list as per ASCII value : potato
Minimum element of list as per ASCII value : bringer
Sorted elements as per ASCII value : ['potato', 'lady_finger', 'cucumber', 'cabage', 'bringer']

### .count()

In [18]:
# .count() is used to find the occurance of elements in the list
l = [10, 20, 30, 40, 50, 20, 10, 20, 30, 20, 50, 60, 10, 20, 30, 40, 50, 60]
print(f'Occurance of 20 is {l.count(20)}')

Occurance of 20 is 5

### .reverse()

In [19]:
# .reverse() is used to reverse the list
# it do permenante change in the list
# and not print directly
name = ['uxma', 'abdul', 'nema', 'sajid', 'ashraf']
name.reverse()
print(name)
print(name.reverse())   # give none

['ashraf', 'sajid', 'nema', 'abdul', 'uxma']
None

### .sort()

In [20]:
# .sort() is used to sort the list
# do permanent change
# can't print directly
name = ['uxma', 'abdul', 'axeema', 'sajid', 'ashraf']
name.sort(reverse=True)
print(name)

['uxma', 'sajid', 'axeema', 'ashraf', 'abdul']

### .copy()

In [21]:
# .copy() is used to copy the list
# do deep copy of a list
# to check print 'id' of the list
n1 = ['ali','danish','sahil']
n2 = n1.copy()
print(n1)
print(id(n1))
print(n2)
print(id(n2))

['ali', 'danish', 'sahil']
1436551818880
['ali', 'danish', 'sahil']
1436551812224

### 2 Ways to traverse a list

. itemwise

In [22]:
l1 = [1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

. indexwise

In [23]:
l1 = [8,7,6,5,4,3]
for i in range(len(l1)):
    print(l1[i])

8
7
6
5
4
3

## Disadvantages of Python Lists

- slow------
- eats up more memory-------
- risky usage-------

# ðŸ”¹Tuple :
## A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned wheeras we can change the elements os a list.<br>
In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.<br>
#### Characterstics
1. Orderd
2. Unchangeable
3. Allows duplicats

### Creating Tuples

In [24]:
# empty tuple
tup = ()
print(tup)
# tuple with single term
tup1 = (1)
print(tup1)
print(type(tup1))  # int type not tuple
tup2 = (3,)
print(tup2)
print(type(tup2))
# Homogeneous tuple
tup3 = (3,6,8,2)
print(tup3)
# Hetrogeneous tuple
tup4 = (3,'Uzma',34.7,True,None)
print(tup4)
# tuple in tuple
tup5 = (3,5,7,(8,4,2))
print(tup5)
# tuple constructure
tup6 = tuple(('a','b','c','d'))
print(tup6)

()
1
<class 'int'>
(3,)
<class 'tuple'>
(3, 6, 8, 2)
(3, 'Uzma', 34.7, True, None)
(3, 5, 7, (8, 4, 2))
('a', 'b', 'c', 'd')

### Accessing items
1. Indexing
2. Slicing

In [25]:
tup7 = ('uk','ak','ab','kk','ms','ak')
# Positive indexing
print(tup7[2])       
# Negative indexing
print(tup7[-2])
# Positive slicing
print(tup7[0:4])
# Negative slicing
print(tup7[-1:-5:-1])
# Reverse tuple
print(tup7[::-1])

ab
ms
('uk', 'ak', 'ab', 'kk')
('ak', 'ms', 'kk', 'ab')
('ak', 'ms', 'kk', 'ab', 'ak', 'uk')

### 1. Editing tuple
### 2. Adding items
### 3. Del particular item
Not allowed bcz tuple is immutable

In [26]:
tup8 = ('mang','ora','bana','app')
tup8[3] = 'gua'
print(tup8)   # it will raise an error

TypeError: 'tuple' object does not support item assignment

### Operations on tuple
1.     * and +
2. membership operator
3. iterable

In [27]:
tup9 = ('go','so','of','to','on')
# * and + operator
print(tup9 + (34,65,87,98))
print(tup9 * 2)
print(tup9[3] * 3)
# membership operator
print('ok' in tup9)
print('on' in tup9)
# iterable
for word in tup9:
    print(word,end=" ")

('go', 'so', 'of', 'to', 'on', 34, 65, 87, 98)
('go', 'so', 'of', 'to', 'on', 'go', 'so', 'of', 'to', 'on')
tototo
False
True
go so of to on

### Tuples Functins

In [28]:
tup0 = (2,5,7,9,-5,1,8,7,6)
# len()
print('Lenght : ',len(tup0))
# sum()
print('Sum : ',sum(tup0))
# max()
print('Max : ',max(tup0))
# min()
print('Min : ',min(tup0))
# asscending sorted()
print('Sorted : \n',sorted(tup0))
# desscending sorted()
print('Sorted : \n',sorted(tup0,reverse = True))
# count()
print('Occurance of 7 : ',tup0.count(7))
# index()
print('Index of 5 : ',tup0.index(9))

Lenght :  9
Sum :  40
Max :  9
Min :  -5
Sorted :
 [-5, 1, 2, 5, 6, 7, 7, 8, 9]
Sorted :
 [9, 8, 7, 7, 6, 5, 2, 1, -5]
Occurance of 7 :  2
Index of 5 :  3

### Difference between Tuple and List
1. Syntax  -> List [] & Tuple ()
2. Mutability  -> List mutable & Tuple immutable
3. Speed  -> tuple is faster than List bcz its immutable
4. Memory  ->  Tuple takes less memory and List takes more memory
5. Build-in-functions -> List has more functions than tuple
6. Error-pron -> List is risky to use
7. Usability ->

In [29]:
# speed
import time
lis = range(10000000)
tup = range(10000000)
l_t = time.time()
for i in lis:
    i * 50000
print('List time : ',time.time() - l_t)
t_t = time.time()
for j in tup:
    j * 50000
print('\nTuple time : ',time.time() - t_t)

List time :  0.7535068988800049

Tuple time :  0.7127180099487305

In [30]:
# memory
import sys
print('List space : ',sys.getsizeof(lis))
print('Tuple space : ',sys.getsizeof(tup))

List space :  48
Tuple space :  48

#### Unpacking

In [31]:
# unpacking tuple
a,b,c,d = (34,56,87,23)
print(a)
print(b)
print(c)
print(d)
# unpacking list
e,f,g = ['rich','richer','richest']
print(e)
print(f)
print(g)
# when don't know the values
i,j,*k = [2,6,0,9,4,1]
print(i,'\n',j,'\n',k)

34
56
87
23
rich
richer
richest
2
 6
 [0, 9, 4, 1]

#### Swaping two no.

In [32]:
u = 21
v = 23
print('u = ',u,',v = ',v)
u,v = v,u
print('After swaping')
print('u = ',u,',v = ',v)

u =  21 ,v =  23
After swaping
u =  23 ,v =  21

# ðŸ”¹Sets
## A set is an unorderd of items. Every set element is unique(no duplicates) and must be immutabe(cannot be changed).<br>
### However, a set itself is mutable. We can add or remove items from it.<br>
### Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.
#### Characterstics :
1. Unordered
2. Mutable
3. No Duplicates
4. Can't contain mutable data types

In [33]:
# to create empty set use set constructure
# 1D or Homogeneous set
s = {3,6,8}
print(s)
print(type(s))
# Hetrogeneous set
s1 = {'hey',46,True,35.63,None}
print(s1)
# using type conversion
# # s2 = set((3,6,8,9,3,1))
# # print(s2)
# not allow duplicates
s3 = {4,7,9,4,5,7,6,4,8,3,2,1,5,8,9,0}
print(s3)
# unorderd
s4 = {1,2,6,3}
s5 = {3,6,2,1}
print(s4 == s5)

{8, 3, 6}
<class 'set'>
{True, 35.63, None, 46, 'hey'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
True

#### Accessing items
#### Editing items
it is not allowe to access and edit the items bcz it is unorderd

#### Adding items

In [34]:
# .add() -> single insert
s6 = {8,5,3}
s6.add(100)      
print(s6)
# .update  -> multiple insert
s7 = {2,5,7,9}
s7.update([4,6,8,9,3,2])
print(s7)

{8, 3, 100, 5}
{2, 3, 4, 5, 6, 7, 8, 9}

#### Deleting items

In [35]:
# .remove()
s8 = {'a','b','c','d','e','f','g'}
s8.remove('c')
print(s8)
# .discard()
s8.discard('i')
print(s8)
# .pop() random 
s8.pop()
print(s8)
# .clear()
s8.clear()
print(s8)
# .del()
# # del(s8)     
# # print(s8)

{'f', 'g', 'b', 'e', 'a', 'd'}
{'f', 'g', 'b', 'e', 'a', 'd'}
{'g', 'b', 'e', 'a', 'd'}
set()

#### Set Operations

In [36]:
set1 = {1,2,4,6,8,0}
set2 = {2,5,6,7,9,0,4}
# union()
print('Union : ',set1 | set2)
print('Union : ',set1.union(set2))
# intersection()
print('Intersection :',set1 & set2)
print('Intersection :',set1.intersection(set2))
# difference
print('Difference : ',set1 - set2)
print('Difference : ',set2.difference(set1))
print(set2 ^ set1)
print('Membership : ',1 in set1)
print('Membership : ',10 in set2)
se = set1.update(set2)
print('Update : ',se)
print('Iteration in set :')
for i in set1:
    print(i,end=' ')

Union :  {0, 1, 2, 4, 5, 6, 7, 8, 9}
Union :  {0, 1, 2, 4, 5, 6, 7, 8, 9}
Intersection : {0, 2, 4, 6}
Intersection : {0, 2, 4, 6}
Difference :  {8, 1}
Difference :  {9, 5, 7}
{1, 5, 7, 8, 9}
Membership :  True
Membership :  False
Update :  None
Iteration in set :
0 1 2 4 5 6 7 8 9

#### Set functions

In [37]:
set3 = {3,5,7,8,0,4,2}
print('Lenght : ',len(set3))
print('Min : ',min(set3))
print('Max : ',max(set3))
print('Sum : ',sum(set3))
print('Sorted : ',sorted(set3))    # result in list

Lenght :  7
Min :  0
Max :  8
Sum :  29
Sorted :  [0, 2, 3, 4, 5, 7, 8]

In [38]:
s1 = {1,2,3,4,5}
s2 = {2,3,4}
print('Checking subset : ',s2.issubset(s1))
print('Checking subset : ',s2.issuperset(s1))
print('Deep copy')
s3 = s1.copy()
print('s1 : ',s1)
print('s3 : ',s3)
print('Address of s1 : ',id(s1))
print('Address of s3 : ',id(s3))

Checking subset :  True
Checking subset :  False
Deep copy
s1 :  {1, 2, 3, 4, 5}
s3 :  {1, 2, 3, 4, 5}
Address of s1 :  1436552119456
Address of s3 :  1436552119008

#### Frozen set
frozen set is just an immutable version of a Python set object

In [39]:
fs = frozenset([2,4,6,7,8])
print(fs)
print(type(fs))

frozenset({2, 4, 6, 7, 8})
<class 'frozenset'>

# ðŸ”¹Dictionary
## Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.<br>
### In some languages it is known as map or assosiative arrays.<br>
#### dict = {'name' : 'nimra','age' : 28,'gender' : 'female'}<br>
Characteristics:
1. Mutable
2. Indexing has no meaning
3. keys can't be duplicated
4. keys can't be mutable items

#### creating dictionary

In [40]:
d = {}
print('Empty dictionary : ',d)
# print('Dictionary construction')
# d0 = dict([('class',15),('hall',3),('playground',2),('canteen',4)])
# print('Dictionary : ',d0)
d1 = {'name' : 'nimra','age' : 21,'gender' : 'female'}
print('1D Dictionary : ',d1)
d2 = {'name':'sajid','class':12,'subjects':{'math':95,'urdu':92,'science':97}}
print('2D Dictionary : ',d2)

Empty dictionary :  {}
1D Dictionary :  {'name': 'nimra', 'age': 21, 'gender': 'female'}
2D Dictionary :  {'name': 'sajid', 'class': 12, 'subjects': {'math': 95, 'urdu': 92, 'science': 97}}

#### Accessing items

In [41]:
d2 = {'name':'azeema','class':12,'subjects':{'math':95,'urdu':92,'science':97}}
print('Fetch item : ',d2['name'])
print('With get : ',d2.get('subjects'))

Fetch item :  azeema
With get :  {'math': 95, 'urdu': 92, 'science': 97}

#### Adding key-value pair

In [42]:
dic = {'name' : 'uzma','age' : 21,'gender' : 'female'}
dic['height'] = 4.7
print('Updated dictionary : ',dic)

Updated dictionary :  {'name': 'uzma', 'age': 21, 'gender': 'female', 'height': 4.7}

#### Remove key-value pair

In [43]:
di = {'name': 'uzma', 'age': 21, 'gender': 'female', 'height': 4.7}
print(di)
# pop particular key-value pair
di.pop('gender')
print(di)
# pop last key-value pair
di.popitem()
print(di)
# pop particular key-value pair
del di['name']
print(di)
# empty dictionary
di.clear()
print(di)

{'name': 'uzma', 'age': 21, 'gender': 'female', 'height': 4.7}
{'name': 'uzma', 'age': 21, 'height': 4.7}
{'name': 'uzma', 'age': 21}
{'age': 21}
{}

In [44]:
d2 = {'name':'azeema','class':12,'subjects':{'math':95,'urdu':92,'science':97}}
# update 2D dictionary
d2['subjects']['math'] = 98
print(d2)
# add item in 2D dictionary
d2['subjects']['english'] = 85
print(d2)

{'name': 'azeema', 'class': 12, 'subjects': {'math': 98, 'urdu': 92, 'science': 97}}
{'name': 'azeema', 'class': 12, 'subjects': {'math': 98, 'urdu': 92, 'science': 97, 'english': 85}}

#### Dictionary Operations

In [45]:
# membership operation
d2 = {'name':'azeema','class':12,'subjects':{'math':95,'urdu':92,'science':97}}
print('school' in d2)
# iteration
print('Iteration : ')
for i in d2:
    print(i,d2[i])

False
Iteration :
name azeema
class 12
subjects {'math': 95, 'urdu': 92, 'science': 97}

#### Dictionary functions

In [46]:
print('Lenght : ',len(d2))
print('Min : ',min(d2))
print('Max : ',max(d2))
print('Sorted : ',sorted(d2))    # result in list

Lenght :  3
Min :  class
Max :  subjects
Sorted :  ['class', 'name', 'subjects']

In [47]:
print('Dictionary items : ',d2.items())
print('Dictionary keys : ',d2.keys())
print('Dictionary values : ',d2.values())

Dictionary items :  dict_items([('name', 'azeema'), ('class', 12), ('subjects', {'math': 95, 'urdu': 92, 'science': 97})])
Dictionary keys :  dict_keys(['name', 'class', 'subjects'])
Dictionary values :  dict_values(['azeema', 12, {'math': 95, 'urdu': 92, 'science': 97}])